@model Category

<div class="row">
    @foreach (var item in Model.Movies)

    {

        <div class="card mb-5 mx-5 col-6 p-0" style="max-width: 540px;">
            <h4 class="Home-Index-H4">@item.Name</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/movies/@item.Photo" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Price: @item.Price</h6>
                        <p class="card-title">Name: @item.Cinema.Name</p>
                        <p class="card-title">Start Date: @item.StartDate</p>
                        <p class="card-title">End Date: @item.EndDate</p>
                        <p class="card-title">Category: @item.Category.Name</p>
                        @* <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
                        <div class="d-grid gap-2 d-md-block my-3">
                            @{
                                var status = item.moveStatus;
                                string statusText = "";
                                string btnClass = "btn ";

                                switch (status)
                                {
                                    case MoveStatus.Upcoming:
                                        statusText = "Upcoming";
                                        btnClass += "btn-warning";
                                        break;

                                    case MoveStatus.Avilable:
                                        statusText = "Available";
                                        btnClass += "btn-primary";
                                        break;

                                    case MoveStatus.Expired:
                                        statusText = "Expired";
                                        btnClass += "btn-secondary";
                                        break;
                                }
                            }
                            <button class="@btnClass" type="button">@statusText</button>

                        </div>
                        <a href="/Home/MoreDetailes?Id=@item.Id" class="btn btn-light" style="border:1px solid black;">
                            More Detailse
                        </a>
                        @if (status == MoveStatus.Avilable)
                        {
                            <button type="button" class="btn btn-success">Book Ticket</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary" disabled>Booking Closed</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

