@model List<Movie>


@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@



<div class="row">
    @foreach (var item in Model) {
        <div class="card mb-5 mx-5 col-6 p-0" style="max-width: 540px;">
            <h4 class="Home-Index-H4">@item.Name</h4>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/movies/@item.Photo" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Price: @item.Price</h6>
                        <p class="card-title">Name: @item.Cinema.Name</p>
                        <p class="card-title">Start Date: @item.StartDate</p>
                        <p class="card-title">End Date: @item.EndDate</p>
                        <p class="card-title">Cinema: @item.Cinema.Name</p>
						<p class="card-title">Category:<a href="/Category/Detailes/@item.Category.Id">@item.Category.Name</a> </p>
                        @* <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
                        <div class="d-grid gap-2 d-md-block my-3">
                            @{
                                var status = item.moveStatus;
                                string statusText = " ";
                                string btnClass = "btn ";

                                switch (status)
                                {
                                    case MoveStatus.Upcoming:
                                        statusText = "Upcoming";
                                        btnClass += "btn-warning";
                                        break;

                                    case MoveStatus.Avilable:
                                        statusText = "Available";
                                        btnClass += "btn-primary";
                                        break;

                                    case MoveStatus.Expired:
                                        statusText = "Expired";
                                        btnClass += "btn-secondary";
                                        break;
                                }
                            }

                            <button class="@btnClass" type="button">@statusText</button>

                           
                        </div>
                        <a href="/Home/MoreDetailes?Id=@item.Id" class="btn btn-light  " style="border:1px solid black;">
                            More Detailse
                        </a>
                        @if (status == MoveStatus.Avilable || status == MoveStatus.Upcoming)
                        {
                            <button type="button" class="btn btn-success">
                                <a href="/Home/BookTicket?Id=@item.Id" class="ali">
                                      Book Ticket
                                </a>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary" disabled>Booking Closed</button>
                        }
                    </div>
                </div>
            </div>
        </div>

     
    }
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="?page=@(ViewBag.CurrentPage - 1)">Previous</a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }

                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="?page=@(ViewBag.CurrentPage + 1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
